<!DOCTYPE html>
<html lang="zh">

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>INDEX PAGE PS:Colin</h1>
	<div class="page">
		<select id="file_list"></select>
		<input type="text" id="file_name" class="input_text">
		<button class="submit_btn">提交</button>
	</div>
	<pre><%= content %></pre>
	<script>
		function FsMethod() {};

		FsMethod.prototype = {
			ajaxRequest: function (options) {
				options = options || {};
				options.type = (options.type || "GET").toUpperCase();
				options.dataType = options.dataType || "json";
				var params = this.formatParams(options.data);
				var xhr;

				if (window.XMLHttpRequest) {
					xhr = new XMLHttpRequest();
				} else if (window.ActiveObject) {
					xhr = new ActiveXObject('Microsoft.XMLHTTP');
				}

				if (options.type == "GET") {
					//1.请求类型，2.请求地址，3.是否异步请求
					xhr.open("GET", options.url + "?" + params, true);
					xhr.withCredentials = true;
					xhr.setRequestHeader("x-requested-with", "XMLHttpRequest");
					xhr.send(null);
				} else if (options.type == "POST") {
					xhr.open("POST", options.url, true);
					xhr.withCredentials = true;
					xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
					xhr.setRequestHeader("x-requested-with", "XMLHttpRequest");
					xhr.send(params);
				}

				xhr.onreadystatechange = function () {
					if (xhr.readyState == 4) {
						var status = xhr.status;
						if (status >= 200 && status < 300 || status == 304) {
							options.success && options.success(JSON.parse(xhr.responseText, xhr.responseXML));
						} else {
							options.error && options.error(status);
						}
					}
				}
			},
			formatParams: function (data) {
				var arr = [];
				for (var name in data) {
					arr.push(encodeURIComponent(name) + "=" + encodeURIComponent(data[name]));
				}
				arr.push(("v=" + Math.random()).replace("."));
				return arr.join("&");
			}
		}

		var fsMethod = new FsMethod()

		fsMethod.ajaxRequest({
			type: 'POST',
			url: '/file_list',
			data: {
				name: 'colin',
				age: '30'
			},
			success: function (data) {
				var fileList = '';
				var fileDOM = document.getElementById('file_list');
				data.data.forEach(function (val, idx) {
					fileList += '<option value ="' + val + '">' + val + '</option>';
				})
				fileDOM.innerHTML = fileList;
			},
			error: function (e) {
				console.log(e);
			}
		})

		var $submit = document.getElementsByClassName('submit_btn')[0];

		$submit.onclick = function () {
			var fileList = document.getElementById('file_list');
			var fileName = document.getElementById('file_name').value;
			var fileListIndex = fileList.selectedIndex;
			var fileListValue = fileList.options[fileListIndex].value
			console.log(fileListValue, fileName);

			fsMethod.ajaxRequest({
				type: 'POST',
				url: '/mkdir',
				data: {
					fileListValue: fileListValue,
					fileName: fileName
				},
				success: function (data) {},
				error: function (e) {
					console.log(e);
				}
			});
		}
	</script>
</body>

</html>