<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <form method="post" action="/setdata">
    <p><textarea rows="20" cols="100" name="text"></textarea></p>
    <p><input type="submit" value="提交"></p>
    </form>
    <p>
    <% content.forEach(function(item){%>
        <li><%=item %></li>
    <% }) %>
    </p>
  </body>
</html>
