<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
</head>

<body>
    <div id="app">
        <div class="main">
            <h1>JavaScript单词测试</h1>
            <div class="blackboard"></div>
        </div>
        <div id="footer">
            <div class="start-game-btn">开始测试</div>
            <!-- <ul class="words-list">
                <li>c</li>
                <li>a</li>
                <li>r</li>
                <li>h</li>
                <li>s</li>
                <li>e</li>
                <li>t</li>
            </ul> -->
        </div>
    </div>
</body>

</html>